/*FONTS*/

@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-Curva.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-CurvaEmpaste100.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-NegraEmpaste100.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.title{
  font-family: Vigo;
  font-weight: normal;
  font-size: 100px;
  color: white;
}
.paragraph{
  font-family: Vigo;
  font-weight: normal;
  font-size: 24px;
  color: white;
}
.center{
  justify-content: center;
  text-justify: center;
  text-align: center;
}
/*NAVBAR*/
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  z-index: 5;
  font-family: Vigo;
  margin: auto;
  background: #00000000;
  color: white;
}
.nav__list{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-right: 2em;
}
.nav__list ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}
.current{
  color: #ffffff69 !important;
}
.nav__list a:hover{
  animation-duration: 5ms;
  transition: color .2s ease-in;
  box-shadow: black;
  color: #ffffff69;
}
.arrow{
  display: none;
  align-self: center;
  margin-top: 1rem;
}
/*PAGE*/
.page{
  background: black;
  width: 100vw;
  margin: 0;
  padding: 5em;
}

/* Mobile */
@media (max-width: 700px) {
  
  /*NAVBAR*/
  .nav {
    padding: 0.5rem;
    font-size: 20px;
  }
  .nav__list ul{
    text-align: center;
    top: -240px;
    list-style: none;
    display: flex;
    position: absolute;
    right: 1rem;
    flex-direction: column;
    justify-content: space-around;
  }
  .arrow{
    display:block;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

