/*FONTS*/
@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-Curva.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-Curva.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-NegraEmpaste100.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
@font-face{
  font-family: "Urbanist";
  src: url('/fonts/Urbanist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NeueHaasDisplay-Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NeueHaasDisplay-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NeueHaasDisplay-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-bottom: 0;
  min-height: 100vh;
  cursor: url("/wine.svg"), auto;
}
.title{
  font-family: Vigo;
  font-weight: normal;
  font-size: 70px;
  color: var(--accent);
  margin-bottom: 5rem;
}
.subtitle{
  font-family: "Neue";
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  color: var(--secondary);
  text-align: left;
  max-width: 600px;
}
.big{
  font-size: 60px;
}
.paragraph{
  font-family: "Neue";
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  color: var(--secondary);
  text-align: left;
  margin-top: 1rem;
}
.paragraph2{
  font-family: "Neue";
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  color: var(--secondary);
  text-align: right;
  margin-top: 1rem;
  /* width: 50%; */
}
.paragraph_arrow{
  font-size: 40px;
}
.description{
  font-family: Neue;
  font-weight: normal;
  font-size: 20px;
  color: var(--secondary);
  text-align: left;
  padding-top: 1rem;
}
.button{
  font-family: Neue;
  font-weight: bold;
  font-size: 25px;
  width: auto;
  color: black;
  border: 1px solid black;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: 0.3s;
  pointer-events: all;
  border-radius: 10px;
  word-spacing: 0.5rem
}
.button:hover{
  color: var(--primary);
  background-color: var(--accent);
  border-color: var(--accent);
  box-shadow: 0px 1px 36px -1px var(--accent);
  -webkit-box-shadow: 0px 1px 36px -1px var(--accent);
  -moz-box-shadow: 0px 1px 36px -1px var(--accent);
}
.button2{
  font-family: Neue;
  font-weight: bold;
  font-size: 36px;
  width: auto;
  color: white;
  border: 1px solid white;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: 0.3s;
  pointer-events: all;
  border-radius: 10px;
  word-spacing: 0.6rem
}
.button2:hover{
  color: var(--accent);
  background-color: white;
  box-shadow: 0px 1px 36px -1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 1px 36px -1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 1px 36px -1px rgba(255, 255, 255, 0.75);
}
.form{
  font-family: Vigo;
  font-size: 70px;
}
.center{
  display: flex;
  justify-content: center;
  text-justify: center;
  text-align: center;
  gap: 2rem;
}
.logo{
  width: 100vh; 
  height: 100%;
  max-width: 800px; 
}
.division{
  height: 10rem;
  /* background: rgb(175,106,106);
  background: linear-gradient(180deg, rgba(175,106,106,0) 0%, rgba(0,0,0,1) 100%); */
  background: rgb(209,176,100);
  background: linear-gradient(180deg, rgba(209, 176, 100, 0) 0%, rgb(228 228 228) 100%)
}
/*IMAGES*/
.single__image{
  height: auto;
  width: 100%;
  max-width: 950px;
  margin: auto;
  /* border-radius: 10px; */
  /* box-shadow: 0px 1px 36px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 1px 36px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 36px -1px rgba(0,0,0,0.75); */
}
.single__image_panoramic{
  height: auto;
  width: 100%;
  max-width: 950px;
  margin: auto;
  /* border-radius: 10px; */
}
.double__image{
  height: auto;
  width: 100%;
  max-width: 750px;
  /* border-radius: 10px; */
}
.double__image_container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

/*NAVBAR*/
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  z-index: 1000;
  font-family: Neue;
  font-weight: bold;
  margin: auto;
  background: #00000000;
  color: white;
  border-bottom: 1px solid white;
  mix-blend-mode: difference;
  padding-left: 1.5rem;
}

.nav__list{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-right: 1.5rem;
  border-left: 1px solid white;
  height: 100%;
  height: 5rem;
  align-items: center;
}
.nav__list ul{
  padding-left: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}
.current{
  color: #ffffff69 !important;
}
.nav__list a:hover{
  animation-duration: 5ms;
  transition: color .3s ease-in;
  box-shadow: black;
  color: #ffffff69;
  text-shadow: 0px 0px 0px var(--accent);
}
.arrow{
  display: none;
  align-self: flex-end;
  margin-top: 1rem;
  filter: brightness(5);
  padding-top: 10px
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  padding-bottom: 5rem;
  justify-content: space-evenly;
  font-size: 1rem;
  width: 100%;
  padding: 2rem;
  z-index: 10;
  margin: auto;
  /* color: var(--secondary);
  background: var(--accent); */
  /* background: rgb(175,106,106);
  background: linear-gradient(180deg, rgba(175,106,106,1) 0%, rgba(0,0,0,1) 100%); */
  background: rgb(229,229,229);
  text-align: center;
  font-family: Vigo;
  border-top: 1px solid black
}
.footer__section_container{
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.footer__section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  margin-top: 2rem;
  margin: auto;
  width: 100%;
  border-top: 1px solid var(--secondary);
}
.footer__section a:hover{
  animation-duration: 5ms;
  transition: color .1s ease-in;
  box-shadow: black;
  color: #ffffff69;
}
.footer__section__navs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
}

/*PAGE*/
.main{
  padding: 0rem;
}
.page{
  background: rgb(229 229 229);
  width: 100vw;
  margin: 0;
  padding: 5em;
  text-align: center;
  padding: 0.5rem;
  padding-bottom: 5rem;
  margin-top: 0rem;
}
.page__section{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  gap: 5rem;
  margin-bottom: 5rem;
  /* background-color: rgba(255, 255, 255, 0); */
}
.page__section_paragraphcontainer{

  border-bottom: 1px solid black;
  padding-bottom: 1.5rem;
  border-left: 1px solid black;
  padding-left: 1.5rem;
  border-bottom-left-radius: 20px;
  padding: 1.5rem;

}
.page__section2{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  text-align: left;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0); */
}
.page__section4{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 1.5rem;
  flex-direction: row;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 5rem;
  text-align: left;
  max-width: 1200px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  margin-top: -5rem;
  margin-bottom: -5rem;
  border-bottom-right-radius: 20px;

}
.page__section4_paragraphcontainer{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.page__section2_paragraphcontainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.page__section3{
  flex-direction: row-reverse;
  text-align: right;
  margin-right: auto;
  margin-left: auto;
}
.page__section2_paragraph{
  font-family: "Neue";
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  color: var(--secondary);
  text-align: left;
  margin-top: 1rem;
  width: 50%;
}
.page__title{
  font-family: Vigo;
  font-weight: normal;
  font-size: 70px;
  color: var(--accent);
  margin-top: 5rem;
}

/* Mobile */
@media (max-width: 600px) {

  .title{
    font-family: Vigo;
    font-weight: normal;
    font-size: 30px;
  }
  .big{
    font-size: 40px !important;
  }
  .paragraph{
    margin-top: 1rem;
    font-size: 20px;
  }
  .paragraph2{
    text-align: left;
    font-size: 20px;
  }
  .paragraph_arrow{
    font-size: 25px;
  }
  .button{
    font-size: 16px;
    padding: .75rem;
  }
  .button2{
    font-size: 16px;
    padding: .75rem;
  }
  .form{
    font-family: Vigo;
    font-size: 26px;
  }
  .logo{
    height: 100%;
    max-width: 500px; 
  }
  .subtitle{
    font-size: 32px;
  }
  /*PAGE*/
  .page{
    width: 100%;
  }
  .page__section{
    width: 98%;
    max-width: 100%;
    gap: 5rem;
  }
  .page__section2{
    flex-direction: column;
    max-width: 100%;
    margin-left: auto;
    text-align: left;
  }
  .page__section2_paragraphcontainer{
    align-items: start;
  }
  .page__section3{
    flex-direction: column;
    margin-right: auto;
    max-width: 100%;
    margin-left: auto;
    text-align: left;
  }
  .page__section4{
    flex-direction: column;
    max-width: 100%;
    margin-left: auto;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
  }
  .page__section4_paragraphcontainer{
    padding: 0px;
  }
  .page__title{
    font-family: Vigo;
    font-weight: normal;
    font-size: 40px;
    margin-top: 0px;
  }

  .double__image_container{
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  /*NAVBAR*/
  .nav {
    padding: 0.5rem;
    font-size: 30px;
    border-bottom: none;
  }
  .nav__list{
    height: auto;
    align-items: center;
    top: -5px;

  }
  .nav__list ul{
    padding: 0;
    text-align: right;
    top: -500px;
    list-style: none;
    display: flex;
    position: absolute;
    right: -1rem;
    flex-direction: column;
    justify-content: space-around;
    background: black;
  }
  .arrow{
    display:block;
  }
    /*FOOTER*/
    .footer{
      z-index: 1;
      padding: 0.5rem;
    }
    .footer__section_container{
      flex-direction: column;
      border: none;
      padding-top: 0rem;
      margin-top: 0rem;
    }
    .footer__section{
      margin: 0px;
      margin-top: 2rem;
      padding: 0.5rem;
    }
    .footer__section__navs{
      display: flex;
      flex-direction: row;
      justify-content: left;
      gap: 3em;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {
  .page{
    padding: 1.5rem;
  }
  .big{
    font-size: 50px !important;
  }
}