/*FONTS*/
@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-Curva.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-Curva.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: "Vigo";
  src: url('/fonts/Vigo-NegraEmpaste100.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NHaasGroteskDSPro-25Th.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NHaasGroteskDSPro-65Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NHaasGroteskDSPro-95Blk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: "Neue";
  src: url('/fonts/NHaasGroteskDSPro-36XLtIt.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NHaasGroteskTXPro-56It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: "Neue";
  src: url('/fonts/NHaasGroteskTXPro-66MdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: "NeueDisp";
  src: url('/fonts/NeueHaasDisplay-Roman.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-bottom: 0;
  min-height: 100vh;
  cursor: url("/wine.svg"), auto;
}
.title{
  font-family: Vigo;
  font-weight: 500;
  font-size: 89px;
  line-height: 89px;
  color: var(--accent);
  text-align: left;
  overflow-wrap: anywhere;
}
.title_home{
  font-family: NeueDisp;
  font-weight: 500;
  font-size: 6rem;
  line-height: 5rem;
  color: var(--accent);
  text-align: left;
  overflow-wrap: anywhere;

}
.subtitle{
  font-family: "Neue";
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  line-height: 42px;
  color: var(--secondary);
  text-align: left;
  max-width: 50%;
}
.glow{
  color: white;
  text-align: center;
  margin: auto;
  text-shadow: black 5px 0px 10px;
  font-weight: 300;
  font-size: 72px;
  line-height: 72px;
}
.big{
  font-size: 48px;
  line-height: 48px;
  text-align: left;
  overflow-wrap: anywhere;
}
.big2{
  text-align: right;
  overflow-wrap: anywhere;
  font-size: 48px;
  line-height: 48px;
}
.paragraph{
  font-family: "Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: var(--secondary);
  text-align: left;
}
.paragraph2{
  font-family: "Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: var(--secondary);
  text-align: right;
}
.paragraph_arrow{

}

.button{
  font-family: Neue;
  font-weight: normal;
  font-size: 25px;
  width: auto;
  color: black;
  border: 2px solid black;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: 0.3s;
  pointer-events: all;
  border-radius: 10px;
  /* word-spacing: 0.5rem */
}
.button:hover{
  color: var(--primary);
  background-color: var(--accent);
  border-color: var(--accent);
  box-shadow: 0px 1px 36px -1px var(--accent);
  -webkit-box-shadow: 0px 1px 36px -1px var(--accent);
  -moz-box-shadow: 0px 1px 36px -1px var(--accent);
}
.button2{
  font-family: NeueDisp;
  font-weight: bold;
  font-size: 36px;
  width: auto;
  color: white;
  border: 2px solid white;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: 0.3s;
  pointer-events: all;
  border-radius: 10px;
  /* word-spacing: 0.6rem */
}
.button2:hover{
  color: var(--accent);
  background-color: white;
  box-shadow: 0px 1px 36px -1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 1px 36px -1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 1px 36px -1px rgba(255, 255, 255, 0.75);
  margin-bottom: 2rem;
}
.form{
  font-family: Vigo;
  font-size: 70px;
}
.center{
  display: flex;
  justify-content: center;
  text-justify: center;
  text-align: center;
  gap: 2rem;
}
.center2{
  display: flex;
  justify-content: center;
  text-justify: center;
  text-align: center;
  gap: 2rem;
  align-self: flex-end;
  padding-bottom: 4rem;
}
.logo{
  width: 100vh; 
  height: 100%;
  max-width: 800px; 
}
.division{
  height: 10rem;
  background: rgb(209,176,100);
  background: linear-gradient(180deg, rgba(209, 176, 100, 0) 0%, #fafafafa 100%)
}
/*IMAGES*/
.image{
  height: auto;
  width: 600px;
  max-width: 550px;
  margin: auto;
}
.image_home{
  height: auto;
  margin: auto;
  max-width: 900px;
  width: 50rem;
  margin: 0rem;
}
.butterfly{
  height: auto;
  width: 600px;
  max-width: 550px;
  margin: auto;
  max-width: 200px;
  width: 50rem;
  margin: 0rem;
}
.image_description{
  font-family: Neue;
  font-weight: normal;
  font-size: 20px;
  color: var(--secondary);
  text-align: left;
  border-bottom: 1px solid black;
  padding-bottom: 0.75rem;
}
.image_container{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.image_container:hover{
  transition: color .5s ease-in;
  filter: grayscale(1);

}
.single__image_panoramic{
  height: auto;
  width: 100%;
  max-width: 950px;
  margin: auto;
}
.double__image{
  height: auto;
  width: 100%;
  max-width: 750px;
}
.double__image_container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  gap: 0.75rem;
}

/*NAVBAR*/
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  z-index: 1000;
  font-family: NeueDisp;
  font-weight: bold;
  margin: auto;
  background: #00000000;
  color: white;
  border-bottom: 1px solid white;
  mix-blend-mode: difference;
  padding-left: 1.5rem;
}

.nav__list{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-right: 1.5rem;
  border-left: 1px solid white;
  height: 100%;
  height: 5rem;
  align-items: center;
}
.nav__list ul{
  padding-left: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}
.current{
  color: #ffffff69 !important;
}
.nav__list a:hover{
  animation-duration: 5ms;
  transition: color .3s ease-in;
  box-shadow: black;
  color: #ffffff69;
  text-shadow: 0px 0px 0px var(--accent);
}
.arrow{
  display: none;
  align-self: flex-end;
  margin-top: 1rem;
  filter: brightness(5);
  padding-top: 10px
}
.blink{
  animation: blink 3.5s infinite;
  animation-fill-mode: both;
}
@keyframes blink{
  0% { color: var(--accent); }
  50% { color: var(--secondary); }
  100% { color: var(--accent); }
}

.floating{
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px
}

@keyframes floating {
  0% {
    transform: translate(0)
  }

  50% {
    transform: translateY(20px)
  }

  to {
    transform: translate(0)
  }
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  padding-bottom: 2.5rem;
  justify-content: space-evenly;
  font-size: 1rem;
  width: 100%;
  z-index: 10;
  margin: auto;
  background: #fafafa;
  text-align: center;
  font-family: Vigo;
  gap: 2.5rem;
}
.footer__section_container{
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.footer__section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  margin-top: 2rem;
  margin: auto;
  width: 100%;
  /* border-top: 1px solid var(--secondary); */
}
.footer__section a:hover{
  animation-duration: 5ms;
  transition: color .1s ease-in;
  box-shadow: black;
  color: #ffffff69;
}
.footer__section__navs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
}

/*PAGE*/
.main{
  padding: 0rem;

}
.page{
  background: #fafafa;
  width: 100vw;
  margin: 0;
  padding: 0em;
  text-align: center;
  padding: 0rem;
  padding-bottom: 5rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-top: 15rem;

}
.page__section{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  gap: 5rem;
}
.page__section_paragraphcontainer{

  border-bottom: 1px solid black;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

}
.page__section2{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  text-align: left;
  width: 100%;
  justify-content: space-around;
}
.page__section_container{
  border-bottom: 1px solid black;
  padding-bottom: 2.5rem;
  flex-direction: row;
  display: flex;
  gap: 2.5rem;
  margin-bottom: 5rem;
  text-align: left;
  max-width: 1200px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;

}
.page__section_product{
  border: 2px solid black; 
  padding: 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.page__section_container2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  gap: 2.5rem;
  padding-bottom: 2.5rem;
}
.page__section_container_box{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page__section_paragraphcontainer2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.page__section_paragraphcontainer3{
  font-family: "Neue";
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  color: var(--secondary);
  text-align: left;
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page__section3{
  flex-direction: row-reverse;
  text-align: right;
  margin-right: auto;
  margin-left: auto;
}
.page__home{
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: left;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 1200px;
  border-bottom: 2px solid black
}
.page__home2{
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: left;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 1200px;
  border-bottom: 2px solid black;
  justify-content: flex-end;
  margin-top: -40rem;
  border-bottom: none;
}
.page__home_text{
  position: absolute;
  top: 15rem;
  left: 20rem;
}

/* Mobile */
@media (max-width: 600px) {

  .title{
    font-family: Vigo;
    font-size: 72px;
    line-height: 48px;
    overflow-wrap: anywhere;
  }
  .subtitle{
    font-size: 28px;
    max-width: 100%;
    line-height: 28px;
  }
  .title_home{
    font-size: 3.5rem;
    line-height: 2.75rem;
    border-bottom: none;
  }
  .page__home_text{
    position: absolute;
    top: 10rem;
    left: 8rem;
  }
  .page__home{
    border-bottom: none;
    padding-top: 5rem;

  }
  .page__home2{
    justify-content: flex-end;
    margin-top: -16rem;
    width: 90%;
    border-bottom: 2px solid black;
    padding-bottom: 2.5rem;

  }
  
  .glow{
    color: white;
    text-align: center;
    margin: auto;
    text-shadow: black 5px 0px 10px;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
  }
  .paragraph{
    font-size: 16px;
  }
  .paragraph2{
    font-size: 16px;
    text-align: left;
  }
  .paragraph_arrow{
    font-size: 25px;
  }
  .button{
    font-size: 20px;
    padding: .75rem;
    border: 1px solid black;
  }
  .button2{
    font-size: 20px;
    padding: .75rem;
    border: 2px solid white;
  }
  .center2{
    padding-bottom: 2rem;
  }
  .form{
    font-family: Vigo;
    font-size: 26px;
  }
  .logo{
    height: 100%;
    max-width: 500px; 
  }
  .image{
    max-width: 100%;
  }
  .image_home{
    max-width: 500px;
    margin-right: -5rem;

  }
  .butterfly{
    max-width: 127px;
  }
  /*PAGE*/
  .page{
    width: 100%;
    gap: 6rem
  }
  .page__section{
    max-width: 100%;
    gap: 3rem;
    padding: 1.25rem;
  }
  .page__section2{
    padding: 1.5rem;
  }
  .page__section_paragraphcontainer{
    padding: 0px;
    gap: 0.75rem;
    padding-bottom: 1.5rem;
  }
  .page__section_paragraphcontainer2{
    gap: 0.75rem;
    padding-bottom: 1.5rem;
  }
  .page__section_paragraphcontainer3{
    width: 100%;
  }
  .page__section2{
    flex-direction: column;
    max-width: 100%;
    margin-left: auto;
    text-align: left;
  }
  .page__section2_paragraphcontainer{
    align-items: start;
  }
  .page__section3{
    flex-direction: column;
    margin-right: auto;
    max-width: 100%;
    margin-left: auto;
    text-align: left;
    gap: 0.75rem;
    padding-bottom: 1.5rem;
  }
  .page__section_container{
    flex-direction: column;
  }
  .page__section_container_box{
    width: 70%;
    margin: auto;
    gap: 0.25rem;
    margin-top: 1.5rem;
  }
  .page__section_product{
    border: 1px solid black;
    padding: 1.5rem;
  }
  .page__section_container2{
    flex-direction: column;
    max-width: 100%;
    margin-left: auto;
    text-align: left;
    padding: 0px;
  }
  .page__section4_paragraphcontainer{
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .double__image_container{
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  /*NAVBAR*/
  .nav {
    padding: 0.5rem;
    font-size: 30px;
    border-bottom: none;
    padding-left: 1rem;
  }
  .nav__list{
    height: auto;
    align-items: center;
    top: -5px;
    font-family: Neue;
  }
  .nav__list ul{
    padding: 0;
    text-align: right;
    top: -500px;
    list-style: none;
    display: flex;
    position: absolute;
    right: -0.5rem;
    flex-direction: column;
    justify-content: space-around;
  }
  .nav__list li{
    padding-right: 1rem;
  }
  .arrow{
    display:block;
    font-size: 16px;
  }
    /*FOOTER*/
    .footer{
      z-index: 1;
      padding-top: 0px;
      margin-top: 0px;
    }
    .footer__section_container{
      flex-direction: column;
      border: none;
      padding-top: 0rem;
      margin-top: 0rem;
    }
    .footer__section{
      margin: 0px;
      margin-top: 2rem;
      padding: 0.5rem;
    }
    .footer__section__navs{
      display: flex;
      flex-direction: row;
      justify-content: left;
      gap: 3em;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1200px) {
  .page__section{
    padding-left: 2.5rem;
    padding-right: 2.5rem;

  }
  .page__section2{
    padding-left: 2.5rem;
    padding-right: 2.5rem;

  }
  .page__section_container2{
    gap: 1.5rem;
  }
  .page__section_container{
    gap: 1.5rem;
  }
  .image{
    max-width: 45vw;

  }
  .big{
    font-size: 72px;
    line-height: 72px;
  }
  .big2{
    font-size: 72px;
    line-height: 72px;
  }
}